<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="\static\donoropen.css"> -->
    <!-- <link rel="stylesheet" href="donoropen.css"> -->
    <title>No Pending Donations Right Now </title>
</head>
<body>
    <form action="/delivered">
    <div class="info">
        <h2>You Hve A Donation request From {{fname}} {{lname}} of {{dname}}</h2>
        <h2>Address To pick Donation : {{dcarea}}</h2>
        <h2>Contact No. Of {{fname}} {{lname}} is {{mob}}</h2>
    </div>
        <button type="submit">Donation Deliverd</button>
    </form>
</body>
</html>